.wrapper {
	background-color: darkgreen;
}
.header {
	width: 100%;
	height: 450px;
	background-color: aquamarine;
}

.header_img {
	background-color: yellow;
	width: 100%;
	height: 450px;
	background-size: 100% auto;
}

.header_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.underheader3 {
	display: flex;
	height: 100px;
	background-color: antiquewhite;
}

.underheader3s {
	flex: 1;
	margin: 5px;
	background-color: brown;
}

.underheader3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: teal;
}

.codecandgear {
	display: flex;
	height: 100px;
	background-color: antiquewhite;
}

.codecandgears {
	flex: 1;
	margin: 5px;
	background-color: brown;
}

.codecandgears img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: teal;
}
