body {
	background-color: #adc4ce;
	margin: 0;
}

.wrapper {
	background-color: yellow;
}

.header {
	background-color: green;
	padding-top: 100px;
}

.logo {
	background-color: orange;
}

.navigatiebalk {
	background-color: darkred;
	color: white;
	display: flex;
}

.header img {
	width: 100%;
}
